.search-box{
    width: 95%;
    height: 630px;
    background-image: url(../images/image.png);
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #50d1fc;
}

.find-em-btn{
    background-color: #50d1fc;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    font-family: 'Bungee Inline', cursive;
}

body{
    font-family: 'Bungee', cursive;
}

h6{
    float: left;
}

.accordion{
    width: 95%;
}

.dynamic-text{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
}

.fa-plus{
    padding-top: 10px;
}

.expand-button{
    float: right;
}

#results{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

th{
    text-decoration: #50d1fc;
    text-decoration-line: underline;
    font-size: 20px;
}

#map {
    width: 90%;
    height: 400px;
    background-color: grey;
  }